.main {
  font-family: "Silkscreen", cursive;
  background-color: rgba(121, 162, 186, 0.821);
  border-style: solid;
  border-color: rgb(32, 31, 31);
  border-radius: 10px;
  box-shadow: 2px 2px 0 rgba(36, 45, 63, 0.581);
  padding: 20px;
  text-align: left;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/051/772/original/7270229.jpg?1667694762");
  background-size: 1720px;
  padding-top: 150px;
  padding-bottom: 150px;
}
#city-input {
  width: 73%;
  padding: 4px;
  border-radius: 7px;
  border-style: solid;
  border-color: rgb(32, 31, 31);
  box-shadow: 2px 2px 0 rgb(46, 67, 107);
  margin: 3px;
}
.searchbtn {
  background-color: black;
  box-shadow: 2px 2px 0 rgb(51, 55, 63);
  color: white;
  font-size: 15px;
  border-radius: 7px;
  border-style: none;
  padding: 5px;
  margin-left: 10px;
  width: 90px;
  height: 36px;
}
#current-location {
  background-color: black;
  box-shadow: 2px 2px 0 rgb(51, 55, 63);
  color: white;
  font-size: 15px;
  border-radius: 7px;
  size: 32px;
  border-style: none;
  padding: 5px;
  margin-left: 10px;
  height: 36px;
  width: 35px;
}
#city-name {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
#date-time {
  font-weight: 600;
  font-size: 15px;
}
#current-weather {
  padding-top: 10px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
#temp {
  font-size: 30px;
}
#temp-element {
  position: relative;
  left: 20px;
  top: 10px;
}
#weather-icon {
  width: 100px;
}
.units {
  position: relative;
  bottom: 10.3px;
  text-align: center;
  font-size: 15px;
}
.col-6 {
  padding-top: 15px;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 15px;
}
.col {
  font-weight: 600;
}
#current-weather-display {
  position: relative;
  top: 5px;
  left: 50px;
}
.weather-forecast {
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}
.temperature {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: black;
}
.minTemp {
  font-size: 12px;
  color: rgb(93, 93, 93);
  margin: 2px;
}
#code-link {
  color: black;
}
#code-link:hover {
  cursor: pointer;
  color: white;
}
#code-source {
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
}
